* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color:black;
}

.header {
    margin: 50px;
    padding: 50px;
    font-family: OCR A Std, monospace;
    background-color:black;
    color: #78C475 ;
    display: flex;
    flex-flow: row wrap;
}
.header h1 {
    display: inline-block;
    font-size: 48px;
    font-weight: lighter;
    
}

.header nav {
    padding-top: 15px;
    float: right;
    font-family: OCR A Std, monospace;
    font-size: 30px;
}

.header nav ul {
    list-style-type: none;
    word-spacing: 5px;
  
}

.header nav ul li {
    display: inline-block;
    margin-left: 100px;
    font-size:;
   
}

a {
    color: #78C475 ;
    text-decoration: none;
    font-size: 16px;
   
}

p {
    font-size: 23px;
    padding: 50px;
    margin: 50px;
}

.background-image {
    height: 300px;
    width: 300px;
    background-image: url("http://curtiszahniser.github.io/Portfolio/assets/selfportrait.jpg");
    background-size: cover;
    margin-bottom: 100px;
    margin-left: 100px;
    padding: 50px;  
     
}  
.content{
    display: flex;
    margin: 50px;
    padding: 50px;
    font-family: OCR A Std, monospace;
    background-color: black;
    color: #78C475;
    border: 5px dotted #78C475;
    flex-flow: row wrap;
}
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content img{
    max-height: 400px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    position: relative;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
}
/* Here's where the image for the first application was made larger in the Works section */
#larger-project{
    width: 300%;
}
#small-projects{
    width: 100%;
   text-align: center;
}

 #Contact{
   
    margin: 50px;
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    font-family: OCR A Std, monospace;
    background-color: black;
    color: #78C475;
    border: 5px dotted #78C475;
    text-align: right;
    font-size: 200% ;
    font-weight: lighter;
    
  
} 
#Contact h4{
   font-size: 27px; 
   text-align: center;
}
/*consolidated these selectors that share these traits*/
.content h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: lighter;
}
/* The following media queries make the colors do the old do-si-so when the screen is less than 768px */
@media screen and (max-width: 768px){
    body,
    .header,
    .content,
    #Contact,
    .footer,
    .header nav,
    a,
    p{
        background-color: #78C475;
        color:black;
        
}
}
@media screen and (max-width: 768px){
    #Contact,
    .content{
        border: 5px dotted black;
    }
}


.footer {
    padding: 30px;
    clear: both;
    font-family: OCR A Std, monospace;
    text-align: center;
    color:#78C475;
}

.footer h2 {
    font-size: 20px;
}
